#projectHeader {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--color-bg-tertiary);
    font-family: var(--font-family-base);
    font-size: var(--font-size-heading-lg); 
    font-weight: var(--font-weight-bold);
    padding: var(--space-lg) var(--space-xl);
    border-bottom: var(--border-primary);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}